<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="menu_principal" class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-primary" th:href="@{/}">
            <i class="bi bi-box-seam"></i> Estoque
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Início</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cadastros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/produtos}">Produtos</a></li>
                        <li><a class="dropdown-item" th:href="@{/clientes}">Cliente</a></li>
                        <li><a class="dropdown-item" th:href="@{/fornecedores}">Fornecedor</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Movimentações
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/nota-entrada}">Nota de Entrada</a></li>
                        <li><a class="dropdown-item" th:href="@{/nota-saida}">Nota de Saída</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link fw-bold text-success" th:href="@{/estoque}">Estoque Geral</a>
                </li>
            </ul>

            <form class="d-flex m-0" th:action="@{/logout}" method="post">
                <button class="btn btn-outline-danger btn-sm px-3 fw-bold rounded-pill" type="submit">
                    Sair <i class="bi bi-box-arrow-right"></i>
                </button>
            </form>

        </div>
    </div>
</nav>


</body>
</html>